<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Downloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div class="container">
        <h1>Selamat Datang di Downloader</h1>
        <div class="button-container">
            <a href="{{ url_for('index') }}" class="button">YouTube Downloader</a>
            <div class="button coming-soon">TikTok Downloader</div>
        </div>
    </div>
</body>
</html>
