<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <title>Video Downloader Home By galihrhgnwnn</title>
</head>
<body>
    <h1>Welcome to the Video Downloader</h1>
    <div class="button-container">
        <a href="{{ url_for('index') }}" class="button">YouTube Downloader</a>
        <a href="{{ url_for('tiktok') }}" class="button">TikTok Downloader</a>
    </div>
</body>
</html>
