<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tiktok.css') }}">
    <title>TikTok Downloader</title>
</head>
<body>
    <div class="container">
        <h1>TikTok Video Downloader</h1>
        <form id="tiktokDownloadForm">
            <label for="url">TikTok Video URL:</label>
            <input type="text" id="url" name="url" placeholder="Masukkan URL TikTok" required>
            <button type="submit">Download Video</button>
        </form>

        <div id="message"></div>

        <a href="/" class="back-button">Kembali ke Home</a>
    </div>

    <script>
        document.getElementById('tiktokDownloadForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const url = document.getElementById('url').value;

            fetch('/download_tiktok', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ url: url }),
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('message').innerText = data.message || data.error;
            })
            .catch(error => {
                document.getElementById('message').innerText = 'Error: ' + error;
            });
        });
    </script>
</body>
</html>
